<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="static/css/home.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" >News Aggregator</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
    
     
    </ul>
 
  </div>
</nav>

<div class="w3-container">
  

  <div class="w3-panel w3-leftbar w3-light-grey">
    <p class="w3-xlarge w3-serif"><i>"What you know is a drop, and what you don't know is an ocean."</i></p>
   
  </div>
</div>
<section id="services" class="container">
   <h2 class="display-4 text-center mt-5 mb-3">Our Services</h2>
   <br>
   <br>
   <div class="row text-center">
      <div class="col-md-4 mb-4">
         <div class="card h-100">
            <img class="card-img-top" src="https://img.etimg.com/thumb/msid-62334768,width-300,imgsize-17560,resizemode-4/inshorts.jpg" alt="Design">
            <div class="card-body">
            <br>
            <br>
            <br>
               <h4 class="card-title">Inshorts</h4>

               <p class="card-text">Inshorts delivers news in less than 60 words, containing only the essential facts, compromising on anything that is close to opinionating and storytelling. </p>
            </div>
            <div class="card-footer py-4">
               <a href="inshorts" class="btn btn-secondary">Read News&raquo;</a>
            </div>
         </div>
      </div>
      
      <div class="col-md-4 mb-4">
         <div class="card h-100">
            <img class="card-img-top" src="https://photogallery.indiatimes.com/photo/24487812.cms" alt="Development">
            <div class="card-body">
            <br>
            <br>
            <br>
            <br>
               <h4 class="card-title">Times Of India</h4>
                  <p class="card-text">Read Top News in India and around the World on Times of India. Breaking news coverage on politics, current affairs, business, sports, education and entertainment.</p>
            </div>
            <div class="card-footer py-4">
               <a href="toi" class="btn btn-secondary">Read News &raquo;</a>
            </div>
         </div>
      </div>
      
      <div class="col-md-4 mb-4">
         <div class="card h-100">
            <img class="card-img-top" src="https://i.kinja-img.com/gawker-media/image/upload/s--suaJbBYU--/c_fill,f_auto,fl_progressive,g_center,h_200,q_80,w_200/eti2h1r4wg0bqxctxenl.png" alt="Analytics">
            <div class="card-body">
               <br>
               <br>
               <br>
               <br>
               <h4 class="card-title">The Onion</h4>
               <p class="card-text">The Onion brings you all of the latest news, stories, photos, videos and more from America's finest news source. </p>
            </div>
            <div class="card-footer py-4">
               <a href="ht" class="btn btn-secondary">Read News &raquo;</a>
            </div>
         </div>
      </div>
   </div>
</section>
<br>
<style>

footer {
  text-align: center;
  padding: 3px;
  background-color: lightblue;
  color: black;
}
</style>
</head>
<body>



<footer>
  <p>Author: Sanya Zaveri<br>
  zaverisanya@gmail.com</p>
</footer>
</body>
</html>
